<a href="https://colab.research.google.com/github/PrinceDaveIgnacio/DSA-58011/blob/main/Array_Modules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [ ]:
import array as arr
arr.typecodes
#get all type codes
a = arr.array('i',[1,2,3,4,5,6,7,8,9,10]) #initialize the element of a
b = arr.array('f',[1.5,2.5,3.5,4.5,5.5,6.5,7.5,8.5,9.5,10.5]) #initialize the element of b


print(a.typecode)
print(b.typecode)

i
f

Example 2 - Create elements of array name a floar/decimal numbers

In [ ]:
a = arr.array('f',[1,2,3,4,5,6,7,8,9,10])
print(a)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])

Insert an element to the first index of an array a

In [ ]:
a.insert(0,11)
print(a)

b.insert(-1,11)
print(b)

b[-1] = 12
print(b)

array('i', [11, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 11.0, 11.0, 12.0])

In [ ]:
b.insert(-1, 11)
print(b)

array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 11.0, 11.0, 11.0, 12.0])

In [ ]:
a = arr.array('i',[1,2,3,4,5,6,7,8,9,10])
print(a)
a.insert(10, -1)

print(a)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -1])

# Linked List

In [36]:
#Initialize the node class
class Node:
  def __init__(self,data): 
    self.data = data   #initialize the object node
    self.next = None    #initialize as null

class LinkedList:
  def __init__(self):
    self.head = None  #initialize the head of the node
    temp = self.head
    while(temp):
      print(temp.data)
      temp = temp.next
 
#empty list

llist = LinkedList()
llist.head = Node(1)
second = Node(2)
third = Node(3)

llist.head.next = second
second.next = third

llist.printList()

AttributeError: ignored